<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% if(dayOfWeek == 0 || dayOfWeek == 6)  { %>
        <h1 style="color:orange">Today is <%=dayOfWeek%></h1>
    <%}else{%>
        <h1 style="color:purple">Today is <%=dayOfWeek%></h1>
   <% }%>
   <ul>
       <li>Wake up</li>
       <li>Cooking</li>
       <li>Coding</li>
   </ul>
    <form action="/" method="POST">
    <input type="text" name="task" placeholder="Enter Task">
    <button type="submit">Add</button>
    </form>
</body>
</html>